<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Celina{% endblock %}</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/celina/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/celina/css/cover.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/celina/css/button.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/celina/css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/celina/css/stylesheet.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/celina/css/jquery.fancybox.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <section style="display:none" id="contacto" class="overlay-content client-services-overlay-content">
            <div class="client-services-header">
                <h1 class="title-bottom-line-diamond client-services-title">
                    Contacta con nosotros <span class="client-services-country-copy">CELINA España</span>
                </h1>
            </div>
            <div class="client-services-container" data-module="clientServices">
                <div class="client-services-items">
                    <div class="client-services-section-title">
                        Si tienes alguna duda, o quieres consultarnos algo<br> ¡te lo ponemos fácil!</div>
                    <div class="client-services-item-container">
                        <div class="client-services-item">
                            <div class="client-services-service">
                                <div class="client-services-service-description">
                                    C/MANUEL COBO CALLEJA, 5<br>
                                    TEL: 91 425 88 14<br>
                                    celinaselection@hotmail.com
                                </div>
                            </div>
                            <div class="client-services-actions">
                                <a href="mailto:celinaselection@hotmail.com" target="_self" class="button-gold-outline client-services-link" data-content="client-services-email-us-8796289811160">Enviar un correo electrónico</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="follow">
                <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/images/icon-twitter2.png') }}" alt="Suivez-moi sur Twitter"/><span>CELINA Twitter</span></a>
                <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/images/icon-tumblr.png') }}" alt="Suivez-moi sur Tumblr"/><span>CELINA Tumblr</span></a>
                <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/images/icon-linkedin.png') }}" alt="Suivez-moi sur Linkedin"/><span>CELINA Linkedin</span></a>
                <a class="lien" href="" target="_blank"><img src="{{ asset('uploads/images/icon-viadeo.png') }}" alt="Suivez-moi sur Viadeo"/><span>CELINA Viadeo</span></a>
            </div>
            <span class="copyright">
                    SE ACEPTAN CAMBIOS DE TARAS O PRENDAS DEFECTUOSAS
                <br>SIEMPRE QUE ESTEN NUEVAS Y CON SU ETIQUETA EN UN PLAZO MAXIMO DE UN MES CON SU FACTURA CORRESPONDIENTE. EN CASO DE
                <br>NO HABER EL MISMO MODELO SE CAMBIARA POR UNO SIMILAR, EN NINGUN CASO SE DEVOLVERA SU IMPORTE. MUCHAS GRACIAS.
                <br>© 2016 CELINA S.L  Todos los derechos reservados</span>
        </footer>
        <div class="scrollToTop"><a href="#"><img class="img-scroll" src="{{ asset('uploads/images/fleche.jpg') }}"/></a></div>

        {% block javascripts %}
            <script src="{{ asset('bundles/celina/js/jquery-1.6.2.min.js') }}"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
            <script src="{{ asset('bundles/celina/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/celina/js/celina.js') }}"></script>
            <script src="{{ asset('bundles/celina/js/isotope.js') }}"></script>
            <script src="{{ asset('bundles/celina/js/filtres-isotope.js') }}"></script>
            <script src="{{ asset('bundles/celina/js/opacite-vignettes.js') }}"></script>
            <script src="{{ asset('bundles/celina/js/scrolltop.js') }}"></script>
            <script src="{{ asset('bundles/celina/js/jquery.fancybox.pack.js') }}"></script>
        {% endblock %}
    </body>
</html>
