{% extends 'font.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h2 class="masthead-brand"><a href="{{ path('celina_homepage') }}">C E L I N A</a></h2>
                        <img class="indexlogo" src="{{ asset('uploads/images/indexlogo.jpg') }}">
                        <nav>
                            <ul class="nav masthead-nav">
                                <li><a href="{{ path('celina_homepage') }}#main">Categorías</a></li>
                                <li><a id="inline" href="#contacto">Contacto</a></li>
                                <li><a href="{{ path('celina_homepage_en') }}">English</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="coverimage" style="background-image: url(http://unelibanaiseaparis.com/wp-content/uploads/2013/08/campaign_woman_cover.jpg);">
                    <div class="inner cover">
                        <h1 class="cover-heading">OTOÑO INVIERNO 2016</h1>
                        <p class="lead">
                            <a href="{{ path('celina_product_list_new') }}" type="button" class="button button-rounded" style="background:url(http://www.colorhexa.com/c1b497.png);color: #fff;">Ver Más</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main" id="main">

        <ul class="filteroptions option-set">
            <li><a href="#main" data-filter="*" class="active">TODAS LAS CATEGORÍAS </a></li>
            <!--   隐藏大分类栏
            <li><a href="" data-filter=".cat1">Clothes</a></li>
            <li><a href="" data-filter=".cat2">Handbag</a></li>
            <li><a href="" data-filter=".cat3">Cap</a></li>
             -->
        </ul>

        <div id="content">

            <div class="box cat1 cat3"><a href=""><img class="vignette2" src="{{ asset('uploads/images/vestidos.jpg') }}" alt="VESTIDOS">
                    <span class="info"><span class="text"><span class="title">VESTIDOS</span><span class="type"><br/>/ VESTIDOS /</span></span></span></a>
            </div>

            <div class="box cat1"><a href=""><img class="vignette3" src="{{ asset('uploads/images/monos.jpg') }}" alt="MONOS">
                    <span class="info"><span class="text"><span class="title">MONOS</span><span class="type"><br/>/ MONOS /</span></span></span></a>
            </div>

            <div class="box cat1"><a href="{{ path('celina_product_list', { 'categoryId': 1 }) }}"><img class="vignette2" src="{{ asset('uploads/images/camisas.jpg') }}" alt="CAMISAS">
                    <span class="info"><span class="text"><span class="title">Sud<br />CAMISAS</span><span class="type"><br/>/ CAMISAS /</span></span></span></a>
            </div>

            <div class="box cat1"><a href=""><img class="vignette3" src="{{ asset('uploads/images/pantalones.jpg') }}" alt="PANTALONES">
                    <span class="info"><span class="text"><span class="title">PANTALONES</span><span class="type"><br/>/ PANTALONES /</span></span></span></a>
            </div>

            <div class="box cat1"><a href=""><img class="vignette" src="{{ asset('uploads/images/st-dupont_thumbnail.jpg') }}" alt="S.T. Dupont ">
                    <span class="info"><span class="text"><span class="title">S.T. Dupont</span><span class="type"><br/>/ E-commerce /</span></span></span></a>
            </div>

            <div class="box cat1"><a href=""><img class="vignette" src="{{ asset('uploads/images/pixmania_thumbnail.jpg') }}" alt="Pixmania.com">
                    <span class="info"><span class="text"><span class="title">Pixmania</span><span class="type"><br/>/ E-commerce &amp; customer experience /</span></span></span></a>
            </div>

            <div class="box cat2 cat3"><a href=""><img class="vignette2" src="{{ asset('uploads/images/filmscultes_thumbnail.jpg') }}" alt="Films cultes">
                    <span class="info"><span class="text"><span class="title">Black Posters</span><span class="type"><br/>/ Affiches /</span></span></span></a>
            </div>

            <div class="box cat2 cat3"><a href=""><img class="vignette2" src="{{ asset('uploads/images/lenthousiaste_thumbnail.jpg') }}" alt="L'Enthousiaste">
                    <span class="info"><span class="text"><span class="title">French<br /> Mustache<br /> Contest</span><span class="type"><br/>/ Affiche sérigraphiée /</span></span></span></a>
            </div>

            <div class="box cat2"><a href=""><img class="vignette3" src="{{ asset('uploads/images/cinema_thumbnail.jpg') }}" alt="French Film Festival">
                    <span class="info"><span class="text"><span class="title">French<br />Film<br />Festival</span><span class="type"><br/>/ Affiches /</span></span></span></a>
            </div>

            <div class="box cat1 cat2"><a href=""><img class="vignette3" src="{{ asset('uploads/images/vitaocean_thumbnail.jpg') }}" alt="Vitaocean">
                    <span class="info"><span class="text"><span class="title">Vita<br />ocean</span><span class="type"><br/>/ Design global /</span></span></span></a>
            </div>

            <div class="box cat1"><a href=""><img class="vignette" src="{{ asset('uploads/images/adyoulike_thumbnail.jpg') }}" alt="Films cultes">
                    <span class="info"><span class="text"><span class="title">Adyoulike</span><span class="type"><br/>/ Identité visuelle &amp; webdesign /</span></span></span> </a>
            </div>

            <div class="box cat1"><a href=""><img class="vignette" src="{{ asset('uploads/images/fauchon_thumbnail.jpg') }}" alt="Fauchon" >
                    <span class="info"><span class="text"><span class="title">Fauchon</span><span class="type"><br/>/ E-commerce /</span></span></span></a>
            </div>

            <div class="box"><a href=""><img class="vignette2" src="{{ asset('uploads/images/photo_thumbnail.jpg') }}" alt="Films cultes">
                    <span class="info"><span class="text"><span class="title">Photo</span><span class="type"><br/>/ Prises de vie... /</span></span></span></a>
            </div>

            <div class="box cat3"><a href=""><img class="vignette3" src="{{ asset('uploads/images/molette_thumbnail.jpg') }}" alt="Molette reprend du service" >
                    <span class="info"><span class="text"><span class="title">Molette reprend<br />du<br />service</span><span class="type"><br/>/ Livre illustré /</span></span></span></a>

            </div>

            <div class="box cat2"><a href=""><img class="vignette2" src="{{ asset('uploads/images/foci_thumbnail.jpg') }}" alt="Foci">
                    <span class="info"><span class="text"><span class="title">Foci</span><span class="type"><br/>/ Design global pour la marque /</span></span></span></a>
            </div>

            <div class="box cat1 cat2"><a href=""><img class="vignette3" src="{{ asset('uploads/images/loftedition_thumbnail.jpg') }}" alt="Loft Edition">
                    <span class="info"><span class="text"><span class="title">Loft Edition</span><span class="type"><br/>/ Identité visuelle &amp; webdesign /</span></span></span></a>
            </div>

            <div class="box cat1"><a href=""><img class="vignette2" src="{{ asset('uploads/images/citedessciences_thumbnail.jpg') }}" alt="Cité des sciences">
                    <span class="info"><span class="text"><span class="title">Cité des sciences</span><span class="type"><br/>/ Webdesign /</span></span></span></a>
            </div>

            <div class="box cat1"><a href=""><img class="vignette2" src="{{ asset('uploads/images/sinequanone_thumbnail.jpg') }}" alt="Sinequanone">
                    <span class="info"><span class="text"><span class="title">Sinequa-<br />none</span><span class="type"><br/>/ E-commerce /</span></span></span></a>
            </div>

            <div class="box cat1"><a href=""><img class="vignette" src="{{ asset('uploads/images/eads_thumbnail.jpg') }}" alt="EADS Astrium">
                    <span class="info"><span class="text"><span class="title">EADS</span><span class="type"><br/>/ Webdesign /</span></span></span></a>
            </div>

            <div class="box cat2"><a href=""><img class="vignette" src="{{ asset('uploads/images/parisjazz_thumbnail.jpg') }}" alt="Festival Paris Jazz">
                    <span class="info"><span class="text"><span class="title">Paris Jazz</span><span class="type"><br/>/ Identité visuelle /</span></span></span></a>
            </div>
        </div>
    </div>


{% endblock %}
